@font-face {
  font-weight: normal;
  font-family: "BebasNeue-Regular";
  src: local("BebasNeue-Regular"), url("fonts/BebasNeue-Regular.ttf") format("truetype"); }

@font-face {
  font-weight: normal;
  font-family: "Aphont-nv0V";
  src: local("Aphont-nv0V"), url("fonts/Aphont-nv0V.ttf") format("truetype"); }
